body {
    display: flex;
    flex-direction: column;
}

header {
    background: #e8d3c5;
    color: white;
    text-align: center;
    padding: 20px;
}

nav {
    background: #333;
    padding: 10px;
    text-align: center;
}

nav a {
    color:white;
    margin: 15px;
    text-decoration: center;
}

.hero {
    padding: 40px;
    text-align: side;
}

.products {
    padding: 30px;
    text-align: center;
}

.product {
    display: inline-block;
    border: 1px solid #ddd;
    padding: 15px;
    margin: 10px;
    width: 200px;
}

.product img {
    width: 100%;
}

button {
    background: #ff6600;
    color: white;
    border: none;
    padding: 8px;
    cursor: pointer;
}

.contact {
    background: #ffffff;
    padding: 30px;
    text-align: center;
}

html, body {
    height: 100%;
    margin: 0;
}

footer {
    margin-top: auto;
    text-align: center;
    background-color: #222;
    color: rgb(252, 249, 249);
    padding: 10px 0;
}
